@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    /*background: rgb(65,65,65);
background: linear-gradient(0deg, rgba(65,65,65,1) 9%, rgba(251,243,243,1) 85%);
height:100vh; */
}

h1 {
    position:relative;

    display: flex;
    align-items:center;
    justify-content:center;
    height:100px;
    background: rgb(92,84,84);
background: radial-gradient(circle, rgba(92,84,84,1) 0%, rgba(54,50,50,1) 51%, rgba(14,13,13,1) 82%);
    color:#fff;
}

main {
    display: flex;
    justify-content:center;
    align-items:center;
    padding:20px;

}

.box {
    width:100%;
    z-index:1000;
    border: 1px solid rgba(0, 0, 0, 0.212);
    padding:30px;
    border-radius:10px;
    margin-top:40px;
}

.box img {
    width:150px;
    float:left;
    z-index:1;
}

h2 {
    width: 100%;
    text-align:center;
    margin-bottom:10px;}

    
p {
    width:90%;
}
   